* {
    margin:0;
    padding: 0;
}

header {
    height: 62px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logo {
    height: 60px;
}

nav {
    display: flex;
    margin-left: 100vh;
    gap: 40px;

}   

nav .nav-1, .nav-2, .nav-3 {
    cursor: pointer;
    text-decoration: none;
    color: #000;
   
}

.main-section {
    background-image: url("777-main.jpg");
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    color: #FFFFFF;
    
}

h1 {
    font-family: 'Quantico', sans-serif;
    padding-top: 10px;
}

h2 {
    font-family: 'Quantico', sans-serif;
}
p {
    font-family: 'Quantico', sans-serif;
}


.minor-section {
    display: flex;
    flex-direction: column;
}

.modelstitle {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.firstlineblock {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;

}

.firstlink {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 10px;
    height: 35px;
    width: 150px;
    background-color: #eff0f0;
    color: #5f6a72; 
    cursor: pointer;
}

.stsa {
    text-decoration: none;
    color:inherit;
    
}


.stsmax {
    height: 200px;
    width: 393px;
    
}




.c17 {
    height: 200px;
    width: 393px;
    
}

.secondlineblock {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;

}


.sss {
    height: 200px;
    width: 393px;
    
}



.ses {
    height: 200px;
    width: 393px;
   
}



.carrersection {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}



.image-carrer {
    background-image: url("boeing-carrers.jpg");
    height: 300px;
}

.title-carrer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cyber {
    height: 200px;
    width: 393px;
}

.tech {
    height: 200px;
    width: 393px;
}

.business-image {
    height: 200px;
    width: 393px;
}

.engineer-image {
    height: 200px;
    width: 393px;
}

.image-footer {
    background-image: url("footerbackground.jpg");
    height: 400px;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 60px;
}

.title-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.content-footer {
    display: flex;
    flex-direction: row;
    
    margin-top: 17px;
    font-size: 18px;
}

.founder {
    margin-left: 12px;
}

.text-content {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.founder-name {
    display: flex;
    flex-direction: row;
}


h5 {
    display: flex;
    flex-direction: row;
    margin-left: 50%; 
}


